*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: linear-gradient(180deg, rgba(180,58,58,1) 0%, rgba(138,29,253,1) 50%, rgba(69,242,252,1) 100%);
}
section
{
    height: 100vh;
}
h1
{
    font-size: 100px;
    color: aliceblue;
    font-family:"bebas neue";
    opacity: 0.95;
}
.home
{
    font-size: 50px;
    color:rgb(238, 255, 0);
    font-family:"bebas neue";
    margin-left: 20px;
    margin-top: 20px;
}
.one
{
    margin-left: 1100px;
    margin-top: 150px;
}
img
{
    border-radius: 20px;
    border-radius: 20px;
}
.quotes
{
    font-size: 70px;
    font-family: "cinzel"; 
    color: white;
    opacity: 0.9;
    position:absolute;
    margin-top:150px;
    text-align: center;
    width:1000px;
    left:30px;
    top:300px;
}
.quotes1
{
    font-size: 65px;
    font-family: "cinzel";
    color: white;
    opacity: 0.9;
    position:absolute;
    margin-top: 150px;
    text-align: center;
    width:1000px;
    right:30px;
    top:770px;
}
.img1
{
    position: absolute;
    top: 870px;
    left: 40px;
}
.img2
{
    position: absolute;
    top:1355px;
    right:40px;
}
.quotes2
{
    font-size: 70px;
    font-family: "cinzel"; 
    color: white;
    opacity: 0.9;
    position:absolute;
    text-align: center;
    width: 1100px;
    top:1450px;
    left:0px;
}
.img3
{
    position: absolute;
    top:1855px;
    left:40px;
}
.quotes3
{
    font-size: 60px;
    font-family: "cinzel"; 
    color: white;
    opacity: 0.9;
    position:absolute;
    text-align: center;
    width: 1000px;
    top:1930px;
    right:20px;
}
.img4
{
    position: absolute;
    top:2350px;
    right:40px;
}
.quotes4
{
    font-size: 70px;
    font-family: "cinzel"; 
    color: white;
    opacity: 0.9;
    position:absolute;
    text-align: center;
    width: 1000px;
    top: 2450px;
    left: 20px;
}
.end
{
    font-size: 150px;
    position: absolute;
    opacity: 0.9;
    color: rgba(255, 255, 255, 0.897);
    font-family:"bebas neue";
    margin-top: 2895px;
    margin-left: 850px;
    border-bottom-style: double;
    border-width: 10px;
}